.App {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px; 
  }
  
  .logout-button {
    padding: 10px 20px;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-company-button {
    padding: 10px 20px;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  